<!-- 零件的cur弹出框 开始 -->
<%
var opt = {
shed_comp_mgr_c : {btns:[{txt:"保存", onClick:"tt.submitDlgFrm"}]},
shed_comp_mgr_u : {btns:[{txt:"保存", onClick:"tt.submitDlgFrm"}]},
shed_comp_mgr_r : {btns:[]}
}
for(var pvlCode in opt){
    var pvl = pvlDs.pvlMap[pvlCode]
    if(pvl){
        var info = opt[pvlCode];
        var dlgId = "dlg_" + pvlCode;
        var btnsId = "btns_" + pvlCode;
        var btnsId2 = "#" + btnsId
        var btns = info.btns;
        %>
            <div class="easyui-dialog" id="<%= dlgId %>" title="<%= pvl.name %>"
                 data-options="width:600,height:400,modal:true,closed:true,buttons:'<%= btnsId2 %>'">
                <div>
                    <form class="tt-init" method="post">
                        <% include ./comp_frmTbl.html %>
                    </form>
                </div>
            </div>
            <div id="<%= btnsId%>">
                <%
                for(var i = 0; i < btns.length; ++i){
                    var btnInfo = btns[i];
                    %>
                    <a class="easyui-linkbutton" pvlCode="<%= pvlCode %>" url="<%= pvl.url %>" data-options="onClick:<%= btnInfo.onClick%>"><%= btnInfo.txt%></a>
                    <%
                }
                %>
                <a class="easyui-linkbutton" data-options="onClick:tt.closeDlg">取消</a>
            </div>
        <%
    }
}
%>
<!-- 零件的cur弹出框 结束 -->
