<%
var pvl = pvlDs.pvlMap["shed_comp_mgr_l"]
if(pvl){
    var btnsId = "btns_" + pvl.code;
    var btnsId2 = "#" + btnsId;
    %>
    <div class="easyui-dialog" id="<%= 'dlg_' + pvl.code %>" title="零件列表"
        data-options="width:900,height:400,modal:true,closed:true,buttons:'<%= btnsId2%>'">
        <div>
            <table class="easyui-datagrid" queryUrl="<%= pvl.url %>"
                   pagination="true" rownumbers="true" singleSelect="true"
                   data-options="onLoadError:tt.onLoadError4DataGrid">
                <thead>
                <tr>
                    <% include ./comp_tblFields.html %>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div id="<%= btnsId%>">
        <a class="easyui-linkbutton" data-options="onClick:tt.selData">选择</a>
        <a class="easyui-linkbutton" data-options="onClick:tt.closeDlg">取消</a>
    </div>
    <%
}
%>