<input name="id" hidden />
<table>
    <tr>
        <td><label class="tt-fld-label-td">零件编号：</label></td>
        <td><input name="code" class="easyui-validatebox" data-options="required:true" /></td>
    </tr>
    <tr>
        <td><label class="tt-fld-label-td">零件名称：</label></td>
        <td><input name="name" class="easyui-validatebox" data-options="required:true" /></td>
    </tr>
    <tr>
        <td><label class="tt-fld-label-td">是否是基础零件：</label></td>
        <td><input name="isBase" class="easyui-combobox" data-options="required:true,editable:false,data:__shed.comboData.isBase,onSelect:__shed.onIsBaseChanged" /></td>
    </tr>
    <tr>
        <td><label class="tt-fld-label-td">单位：</label></td>
        <td><input name="unit" class="easyui-validatebox" data-options="required:true" /></td>
    </tr>
    <tr>
        <td><label class="tt-fld-label-td">备注：</label></td>
        <td><textarea name="remark" class="" data-options="" cols="50"></textarea></td>
    </tr>
</table>