<%
var pvl = pvlDs.pvlMap["shed_shed_mgr_l"];
if(pvl){
var dlgId = "dlg_" + pvl.code;
var tblId = "tbl_" + pvl.code;
var barId = tblId + "_toolBar";
%>
<div class="easyui-dialog" id="<%= dlgId %>" title="<%= pvl.name %>"
     data-options="width:1000,height:500,modal:true,closed:true">
    <div>
        <div class="tt-qry-area">
            <form class="tt-qry-form">
                <table>
                    <tr>
                        <td><label>大棚名称：</label></td>
                        <td><input name="name"/></td>
                        <td><a class="tt-qry-btn"></a></td>
                    </tr>
                </table>
            </form>
        </div>
        <table id="<%= tblId %>" class="easyui-datagrid" queryUrl="<%= pvl.url %>"
               pagination="true" rownumbers="true" singleSelect="true"
               toolbar="<%= '#' + barId %>" data-options="onLoadError:tt.onLoadError4DataGrid">
            <thead>
            <tr>
                <th field="id" hidden="true" width="100">大棚id</th>
                <th field="projId" hidden="true" width="100">项目id</th>
                <th field="scheId" hidden="true" width="100">方案id</th>
                <th field="name" width="100">大棚名称</th>
                <th field="scheName" width="100">方案名称</th>
                <th field="count" width="100">数量</th>
                <th field="lengths" width="100">棚长</th>
                <th field="topScrolls" width="100">顶卷膜</th>
                <th field="edgeScrolls" width="100">侧卷膜</th>
                <th field="frontScrolls" width="100">前后卷膜</th>
                <th field="remark" width="200">备注</th>
            </tr>
            </thead>
        </table>
        <!--table end-->


        <div id="<%= barId %>" style="padding:5px;height:auto">
            <%
            var opt = {
            shed_shed_mgr_c : {icon:"icon-add", func:"tt.showDlg_c"},
            shed_shed_mgr_u : {icon:"icon-edit", func:"tt.showDlg_u"},
            shed_shed_mgr_r : {icon:"icon-search", func:"tt.showDlg_r"},
            shed_shed_mgr_d : {icon:"icon-remove", func:"tt.delData"},
            shed_shed_mgr_cal : {icon:"icon-edit", func:"__shed.calShedComp"}
            }
            for(var pvlCode in opt){
            var btnPvl = pvlDs.pvlMap[pvlCode];
            var info = opt[pvlCode];
            info.confirm = info.confirm || "";
            if(btnPvl){
            %>
            <a class="easyui-linkbutton" icon="<%= info.icon %>" pvlCode="<%= pvlCode %>" url="<%= btnPvl.url %>"
               data-options="onClick:<%= info.func %>"
               confirm="<%= info.confirm%>"
                    ><%= btnPvl.name %></a>
            <%
            }
            }
            %>
        </div>
    </div>
</div>
<%
}
%>

<% include ./shed_dlg.html %>
<% include ./shed_cal_dlg.html %>