<!-- 零件的cur弹出框 开始 -->
<%
var opt = {
shed_shed_mgr_c : {btns:[{txt:"保存", onClick:"tt.submitDlgFrm"}]},
shed_shed_mgr_u : {btns:[{txt:"保存", onClick:"tt.submitDlgFrm"}]},
shed_shed_mgr_r : {btns:[]}
}
for(var pvlCode in opt){
    var pvl = pvlDs.pvlMap[pvlCode]
    if(pvl){
        var info = opt[pvlCode];
        var dlgId = "dlg_" + pvlCode;
        var btnsId = "btns_" + pvlCode;
        var btnsId2 = "#" + btnsId
        var btns = info.btns;
        %>
            <div class="easyui-dialog" id="<%= dlgId %>" title="<%= pvl.name %>"
                 data-options="width:600,height:400,modal:true,closed:true,buttons:'<%= btnsId2 %>'">
                <div>
                    <form class="tt-init" method="post">
                        <input name="id" hidden />
                        <input name="projId" hidden />
                        <input name="scheId" hidden />
                        <table>
                            <tr>
                                <td><label class="tt-fld-label-td">大棚名称：</label></td>
                                <td><input name="name" class="easyui-validatebox" data-options="required:true" /></td>
                            </tr>
                            <tr>
                                <td><label class="tt-fld-label-td">方案：</label></td>
                                <td><input name="scheName" class="easyui-combobox" data-options="required:true,editable:false,data:__shed.comboData.isBase,onSelect:__shed.onIsBaseChanged" /></td>
                            </tr>
                            <tr>
                                <td><label class="tt-fld-label-td">棚长：</label></td>
                                <td><input name="lengths" class="easyui-validatebox" data-options="required:true" /></td>
                            </tr>
                            <tr>
                                <td><label class="tt-fld-label-td">顶卷膜：</label></td>
                                <td><input name="topScrolls" class="easyui-validatebox" data-options="required:true" /></td>
                            </tr>
                            <tr>
                                <td><label class="tt-fld-label-td">侧卷膜：</label></td>
                                <td><input name="edgeScrolls" class="easyui-validatebox" data-options="required:true" /></td>
                            </tr>
                            <tr>
                                <td><label class="tt-fld-label-td">前卷膜：</label></td>
                                <td><input name="frontScrolls" class="easyui-validatebox" data-options="required:true" /></td>
                            </tr>
                            <tr>
                                <td><label class="tt-fld-label-td">备注：</label></td>
                                <td><textarea name="remark" class="" data-options="" cols="50"></textarea></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div id="<%= btnsId%>">
                <%
                for(var i = 0; i < btns.length; ++i){
                    var btnInfo = btns[i];
                    %>
                    <a class="easyui-linkbutton" pvlCode="<%= pvlCode %>" url="<%= pvl.url %>" data-options="onClick:<%= btnInfo.onClick%>"><%= btnInfo.txt%></a>
                    <%
                }
                %>
                <a class="easyui-linkbutton" data-options="onClick:tt.closeDlg">取消</a>
            </div>
        <%
    }
}
%>
<!-- 零件的cur弹出框 结束 -->
