<% include ../base/header.html %>
<script src="/js/shed.js" type="text/javascript"></script>
<div>
    <%
    var tblPvl = pvlDs.pvlMap["shed_proj_mgr_l"];
    if(tblPvl){
    var tblId = "tbl_" + tblPvl.code;
    var barId = tblId + "_toolBar";
    %>
    <table id="<%= tblId %>" class="easyui-datagrid" title="项目列表" url="<%= tblPvl.url %>"
           pagination="true" rownumbers="true" singleSelect="true"
           toolbar="<%= '#' + barId %>" data-options="onLoadError:tt.onLoadError4DataGrid">
        <thead>
        <tr>
            <th field="id" hidden="true" width="100">项目id</th>
            <th field="name" width="100">项目名称</th>
            <th field="state" width="100" combodata="__shed.comboData.projState">项目状态</th>
            <th field="remark" width="200">备注</th>
        </tr>
        </thead>
    </table>
    <!--table end-->


    <div id="<%= barId %>" style="padding:5px;height:auto">
        <%
        var opt = {
        shed_proj_mgr_c : {icon:"icon-add", func:"tt.showDlg_c"},
        shed_proj_mgr_u : {icon:"icon-edit", func:"tt.showDlg_u"},
        shed_proj_mgr_r : {icon:"icon-search", func:"tt.showDlg_r"},
        shed_proj_mgr_d : {icon:"icon-remove", func:"tt.delData"},
        shed_shed_mgr_l : {icon:"icon-search", func:"tt.showDlg_l", queryParams:"projId:id"},
        shed_proj_mgr_cal : {icon:"icon-edit", func:"__shed.calProjComp"},
        shed_proj_mgr_f : {icon:"icon-ok", func:"__shed.finishProj"}
        }
        for(var pvlCode in opt){
        var btnPvl = pvlDs.pvlMap[pvlCode];
        var info = opt[pvlCode];
        info.confirm = info.confirm || "";
        if(btnPvl){
        %>
        <a class="easyui-linkbutton" icon="<%= info.icon %>" pvlCode="<%= pvlCode %>" url="<%= btnPvl.url %>"
           data-options="onClick:<%= info.func %>"
           queryParams="<%= info.queryParams%>"
           confirm="<%= info.confirm%>"
                ><%= btnPvl.name %></a>
        <%
        }
        }
        %>
    </div>
    <%
    }
    %>

</div>
<% include ./frags/proj_dlg.html %>
<% include ./frags/shed_listDlg.html %>
<% include ../base/footer.html %>