thead
    tr
        th(field="id", width="100") 零件ID
        th(field="code", width="100") 零件代码
        th(field="name", width="100") 零件名称
        th(field="isBase", width="100", combodata="__shed.comboData.isBase") 是否是基础零件
        th(field="img", width="100") 零件图示
        th(field="spec", width="100") 规格
        th(field="mates", width="100", combodata="__shed.comboData.mates") 材质
        th(field="unit", width="100") 单位
        th(field="remark", width="100") 备注